<html>
	<head>
		<title>Check & Streak</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/monthly.css">
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="assets/js/calendar-regular.js"></script>
		
	</head>
	<body>
			<header id="header">
				<h1><a href="index.html">Check & Streak</a></h1>
				<nav>
					<ul>
						<li><a href="about.html">About</a></li>
						<li><a href="login.html">Log In</a></li>
						<li><a href="profile.html">My Profile</a></li>
						<li><a href="#">Add Goal</a></li>
						<li><a href="stats.html">My Stats</a></li>
						<li><a href="calendar.html">My Calendar</a></li>
					</ul>
				</nav>
			</header>
			

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<input type="text" id="input_id">
					<input type="text" id="input_name">
					<input type="text" id="input_start">
					<input type="text" id="input_end">
					<input type="text" id="input_color">
					
<!-- Clender work -->
<!--
ID  <input type="text" ng-model="ID">
Goal <input type="text" ng-model="goal">
<br>
Start Date
<div style="display:inline-block; width:250px;">
<input type="text" id="mytarget1" value="Select Date">
<div class="monthly" id="mycalendar1"></div>
</div>

<br>
End Date
<div style="display:inline-block; width:250px;">
<input type="text" id="mytarget2" value="Select Date">
<div class="monthly" id="mycalendar2"></div>
</div>
<br>
Select your favorite color:
<div style="display:inline-block; width:250px;">
<input class="jscolor" value="ab2567">
</div>

<hr>
-->
					<button onclick="addGoal()">Add Goal</button>
				</div>
			</section>
			
			
		<!-- Footer -->
			<footer id="footer">  
				<!-- Menu -->
					<ul class="menu">
						<li>&copy; TeamNAR</li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>
			<script type="text/javascript" src="../assets/js/jquery.js"></script>
			<script type="text/javascript" src="../assets/js/monthly.js"></script>
			<script src="assets/js/jscolor.js"></script>

			<script type="text/javascript">
					$('#mycalendar1').monthly({
						mode: 'picker',
						target: '#mytarget1',
						setWidth: '250px',
						startHidden: true,
						showTrigger: '#mytarget1',
						stylePast: true,
						disablePast: true
					});
			</script>

				<script type="text/javascript">
					$('#mycalendar2').monthly({
						mode: 'picker',
						target: '#mytarget2',
						setWidth: '250px',
						startHidden: true,
						showTrigger: '#mytarget2',
						stylePast: true,
						disablePast: true
					});
			</script>

	</body>
</html>
